.landingPageBackground {
    background-color: white;
}

#landingPageNavbar {
    position: absolute;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    padding: 5px 15px;
}

.logoWithName {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.generalInfo {
    display: flex;
    flex-direction: row;
}

.generalInfoLeft {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.generalInfoLeft .heading {
    font-size: 50px;
    font-weight: bold;
    width: 70%;
    margin: 0px auto;
}

.generalInfoLeft .paragraph {
    width: 70%;
    margin: 0px auto;

}

.generalInfoRight {
    width: 50vw;
    height: 100vh;
    background-image: url('src/assets/LandingPage/Vector.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.characters {
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color: transparent;
    align-items: flex-end;
    justify-content: center;
}

.characters .character1 {
    background-image: url('src/assets/LandingPage/Ikbal_5.png');
    background-position: center center;
    background-size: cover;
    height: 70%;
    width: 40%;
    z-index: 2;
    background-color: transparent;
}

.characters .character2 {
    background-image: url('src/assets/LandingPage/Ikbal_2.png');
    background-position: center center;
    background-size: cover;
    height: 70%;
    width: 40%;
    z-index: 2;
    background-color: transparent;

}